* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-left: 50px;
  margin-right: 50px;
}
:root {
  --text: #ffffff;
  --background: #001020;
  --primary: #ed5702;
  --secondary: #0e00f8;
  --accent: #ff8700;

  --text-50: #f2f2f2;
  --text-100: #e6e6e6;
  --text-200: #cccccc;
  --text-300: #b3b3b3;
  --text-400: #999999;
  --text-500: #808080;
  --text-600: #666666;
  --text-700: #4d4d4d;
  --text-800: #333333;
  --text-900: #1a1a1a;
  --text-950: #0d0d0d;

  --background-50: #e5f2ff;
  --background-100: #cce5ff;
  --background-200: #99ccff;
  --background-300: #66b2ff;
  --background-400: #3399ff;
  --background-500: #007fff;
  --background-600: #0066cc;
  --background-700: #004c99;
  --background-800: #003366;
  --background-900: #001933;
  --background-950: #000d1a;

  --primary-50: #ffefe6;
  --primary-100: #fedfcd;
  --primary-200: #febf9a;
  --primary-300: #fd9f68;
  --primary-400: #fd7e35;
  --primary-500: #fc5e03;
  --primary-600: #ca4b02;
  --primary-700: #973902;
  --primary-800: #652601;
  --primary-900: #321301;
  --primary-950: #190900;

  --secondary-50: #e7e5ff;
  --secondary-100: #cfccff;
  --secondary-200: #9e99ff;
  --secondary-300: #6e66ff;
  --secondary-400: #3d33ff;
  --secondary-500: #0d00ff;
  --secondary-600: #0a00cc;
  --secondary-700: #080099;
  --secondary-800: #050066;
  --secondary-900: #030033;
  --secondary-950: #01001a;

  --accent-50: #fff3e5;
  --accent-100: #ffe7cc;
  --accent-200: #ffcf99;
  --accent-300: #ffb866;
  --accent-400: #ffa033;
  --accent-500: #ff8800;
  --accent-600: #cc6d00;
  --accent-700: #995200;
  --accent-800: #663600;
  --accent-900: #331b00;
  --accent-950: #1a0e00;
}
